[aria-labelledby='edit-work-dialog'] .MuiInputBase-root {
    font-size: 14px !important;
}
[aria-labelledby='edit-work-dialog'] .px-5 {
    padding-left: 15px;
    /* padding-right: 15px; */
}

[aria-labelledby='edit-work-dialog'] .justify-content-between {
    display: flex;
    justify-content: space-between;
}

[aria-labelledby='edit-work-dialog'] .edit-work-dialog-close-btn {
    float: right;
    padding: 10px;
}

[aria-labelledby='edit-work-dialog'] .edit-work-dialog-fieldset {
    padding: 5px 10px;
    border: 1px solid rgba(0,0,0,0.25) !important;
    margin: 0 -10px 10px -10px;
    border-radius: 5px;
}

[aria-labelledby='edit-work-dialog'] .customized-dialog-title {
    background-color: #558B2F;
    color: white;
    padding: 5px 15px;
}

[aria-labelledby='edit-work-dialog'] .customized-dialog-title h2{
    font-size: 14px;
    line-height: 36px;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 1px;
}

[aria-labelledby='edit-work-dialog'] .customized-dialog-title button {
    color: white;
}

[aria-labelledby='edit-work-dialog'] .btn-green,
[aria-labelledby='edit-work-dialog'] .btn-green:hover {
    background-color: #558b2f !important;
    color: white;
}

[aria-labelledby='edit-work-dialog'] .btn-warning,
[aria-labelledby='edit-work-dialog'] .btn-warning:hover {
    background-color: #e5343d;
    color: white;
}

[aria-labelledby='edit-work-dialog'] .MuiFormControl-root {
    margin: 8px 0;
}

[aria-labelledby='edit-work-dialog'] .MuiDialogContent-root {
    padding-bottom: 5px;
}

[aria-labelledby='edit-work-dialog'] .MuiDialogContent-root p,
[aria-labelledby='edit-work-dialog'] .MuiDialogContent-root span,
[aria-labelledby='edit-work-dialog'] .MuiDialogContent-root .MuiInputLabel-formControl,
[aria-labelledby='edit-work-dialog'] .MuiDialogContent-root select.MuiInput-input {
    font-size: 14px !important;
}

[aria-labelledby='edit-work-dialog'] .MuiDialogContent-root .MuiOutlinedInput-input {
    padding: 10px;
}

[aria-labelledby='edit-work-dialog'] .MuiDialogContent-root .MuiInputLabel-formControl {
    margin-top: -8px;
}

[aria-labelledby='edit-work-dialog'] .MuiDialogContent-root .MuiInputLabel-formControl.MuiInputLabel-shrink {
    margin-top: 0px;
}

[aria-labelledby='edit-work-dialog'] .MuiDialogContent-root svg.MuiSelect-icon {
    font-size: 26px !important
}

[aria-labelledby='edit-work-dialog'] .MuiDialogContent-root .MuiIconButton-label {
    color: #558B2F !important;
}

[aria-labelledby='edit-work-dialog'] .MuiDialogContent-root .MuiFormControl-root {
    width: 100%;
}

[aria-labelledby='edit-work-dialog'] .MuiDialogActions-root {
    justify-content: center;
}

[aria-labelledby='edit-work-dialog'] .MuiDialogActions-root button{
    padding: 0px 20px;
    margin: 0 10px;
    font-size: 14px;
    font-weight: bold;
}

.MuiMenuItem-root {
    font-size: 14px !important;
}