table#dataTableExample1 tr td {
    /* opacity: 1; */
}
table#dataTableExample1 tr.blocked{
    opacity: 0.3;
}
table#dataTableExample1 tr.blocked td.blocked:first-child{
    opacity: 1;
}
#dataTableExample1 .blocked .pe-7s-lock::before {
    font-size: 18px;
    color: #fff;
}

.panel-heading {
    margin: 0;
}
.panel-title ul {
    list-style: none;
    display: flex;
    padding: 0;
    margin-top: 10px;
    font-size: 12px;
}
.panel-title ul li {
    margin-right: 20px;
    cursor: pointer;
}
.panel-title button {
    font-size: 12px;
}
td.editor span {
    margin-right: 5px;
    cursor: pointer;
}
.usertable td.editor span::before {
    font-size: 12px;
}
.editmenu ul {
    list-style: none;
    float: right;
    padding: 20px 0 0 0;
}
.editmenu ul li {
    float: left;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 15px 0 15px;
    font-size: 16px;
}
.editmenu ul li a {
    display: contents;
}
.editmenu ul li i {
    color: #558B2F;
}
.editmenu ul li span {
    margin-top: 5px;
}
.adduser {
    padding: 20px 0 20px 0;
    font-size: 16px;
}
.adduser i {
    font-size: 24px;
    color: #558B2F;
}
.m-l-5 {
    margin-left: 5px;
}
.userinfo table tbody tr:nth-of-type(2n+1) {
    background-color: #2C3136;
}
.userinfo table tbody tr td {
    text-align: left;
    border-top: none;
}
.userinfo table.family tbody tr td, table.education tbody tr td, table.work_experience tbody tr td {
    text-align: center;
    border-top: none;
}
.userinfo table thead th {
    text-align: left;
}
.userinfo .header-title {
    padding: 10px;
    background-color: #558B2F;
    margin-bottom: 10px;
    color: #fff;
    font-weight: 600;
}
table.b-t {
    table-layout: auto;
}
table.b-t tbody tr td {
    border-top: 1px solid #3d404c;
}
.userinfo .panel-heading {
    padding: 25px 0 10px 25px !important
}
.userinfo .panel-heading .panel-title ul {
    font-size: 14px;
    font-weight: 600;
}
.disabled-link {
    pointer-events: none;
}

.col-2dot4,
.col-sm-2dot4,
.col-md-2dot4,
.col-lg-2dot4,
.col-xl-2dot4 {
    position: relative;
    width: 100%;
    min-height: 1px;
    padding: 10px 15px 0 15px;
}
/* .col-2dot4 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 20%;
    flex: 0 0 20%;
    max-width: 20%;
} */
.col-2dot4:last-child {
    width: auto;
    display: flex;
    justify-content: center;
}
@media (min-width: 540px) {
    .col-sm-2dot4 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 20%;
        flex: 0 0 20%;
        max-width: 20%;
    }
}
@media (min-width: 720px) {
    .col-md-2dot4 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 20%;
        flex: 0 0 20%;
        max-width: 20%;
    }
}
@media (min-width: 960px) {
    .col-lg-2dot4 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 20%;
        flex: 0 0 20%;
        max-width: 20%;
    }
}
@media (min-width: 1140px) {
    .col-xl-2dot4 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 20%;
        flex: 0 0 20%;
        max-width: 20%;
    }
}

.flex-container {
    display: flex;
  }
.add-salary, .add-family-info {
    font-size: 35px;
    cursor: pointer;
}
.select2-container--default, .select2-selection--single {
    background-color: #1c1f22 !important;
}
.form-control {
    color: #999;
}
.react-datepicker-wrapper,
.react-datepicker__input-container,
.react-datepicker__input-container input {
    display: block;
    width: 100%;
}
.react-datepicker__input-container input {
    padding: 5px;
}
.col-2dot4 textarea {
    width: 100% !important;
    resize: both;
}
.userinfo ul.menu li.active a {
    color: #ffffff;
    padding: 10px;
    background-color: #558B2F;
    border-radius: 2em;
}
.edit-avatar {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.edit-avatar img {
    width: 15em;
    height: 15em;
    -webkit-border-radius: 50%;
    border: 2px solid #558b2f;
    margin-bottom: 2em;
    object-fit: cover;
}
.avatar img {
    width: 100%
}
